doctype html
html
  head
    //- prettier-ignore
    meta(charset='UTF-8')
    <meta http-equiv="Content-Security-Policy" content="frame-ancestors'self';block-all-mixed-content;default-src 'self';script-src 'self' 'report-sample';style-src 'self' 'report-sample' 'unsafe-inline' fonts.googleapis.com;object-src 'none';frame-src 'self';child-src 'self';img-src 'self' fonts.gstatic.com;font-src 'self' fonts.googleapis.com fonts.gstatic.com;connect-src 'self' fonts.googleapis.com fonts.gstatic.com;manifest-src 'self';base-uri 'self';form-action 'self';media-src 'self';prefetch-src 'self';worker-src 'self';">
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon', type='/image/png', href='/img/favicon.png')
    link(
      rel='stylesheet',
      href='https://fonts.googleapis.com/css?family=Lato:300,300i,700'
    )
    title Natours | #{title}

  body
    //- h2= user.toUpperCase()
    // HEADER
    include _header
    // CONTENT
    block content
    
    // FOOTER
    include _footer
